﻿@using GameAcess.Model

@{
    ViewBag.Title = "DonationMenu";
}

<h3>Donation</h3>

<div class="col-md-9 mt-5 animated fadeIn">
    <select id="charSel" class="form-control mb-5" name="account">
        <option selected="selected" disabled="disabled">Please select your character</option>
        @if (Model != null)
        {
            foreach (Character character in Model)
            {
                <option value="@character.CharId">@character.CharName</option>
            }
        }
    </select>
</div>

<div id="donation"></div>

<script>
    $('#charSel').change(function() {
        var charId = $("#charSel option:selected").val();
        $.get('@Url.Action("GetDonationForm")?charId=' + charId,
            function(data) {
                $('#donation').html(data);
            });
    });
</script>