﻿@using GameAcess.Model
@model Character
<div class="row justify-content-center col col-3">
    <div class="input-group mb-3">
        <input type="number" class="form-control" id="amount" autocomplete="off" aria-describedby="amountDes">
        <div class="input-group-append">
            <span class="input-group-text" id="amountDes">€</span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="number" class="form-control" id="hc" readonly aria-describedby="hcDes">
        <div class="input-group-append">
            <span class="input-group-text" id="hcDes">Hesidos Coin</span>
        </div>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" onsubmit="return checkForm(this)">
        <div class="form-check">
            <input name="rules" type="checkbox" class="form-check-input">
            <label class="form-check-label" for="check">With donation you agree with our <a href="https://l2hesidos.com/Home/Rules" target="_blank">Rules</a></label>
        </div>
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="M4XLGABPZ8BJN">
        <input type="hidden" name="lc" value="CZ">
        <input type="hidden" name="item_name" value="Petr Jelinek">
        <input type="hidden" name="item_number" value="L2Hesidos">
        <input type="hidden" id="hcPay" name="amount" value="20.00">
        <input type="hidden" name="custom" value="@Model.CharId"/>
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/cs_CZ/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>
<script>
    $('#amount').on('keyup keypress blur', function () {
        var temp = $(this).val();
        $('#hc').val(Math.round(temp*11.5));
        $('#hcPay').val(temp);
    });

    function checkForm(form) {
        if (form.rules.checked && $('#amount').val() >= 10) {
            return true;
        } else if (!form.rules.checked) {
            alert("You must agree with our Rules before donation");
            form.rules.focus();
            return false;
        } else {
            alert("Donation amount must be 10€ or more");
            return false;
        }
    }
</script>