﻿@using GameAcess.Model
@using HesidosWebsite.Loader
@model IList<InventoryItem>

<div class="invcontainer">
    <div class="equippedinv">
       @if (Model != null)
       {
           foreach (InventoryItem inventoryItem in Model)
           {
               {
                   Item item = XmlLoader.GetItems().FirstOrDefault(x => x.Key == inventoryItem.ItemId).Value;
                   if (item != null)
                   {
                       string imageUrl = File.Exists(Server.MapPath("/Content/Image/icons/items/" + item.ItemImage + ".png")) ? "/Content/Image/icons/items/" + item.ItemImage + ".png" : "/Content/Image/icons/noimage.png";
                       <img class="invimage" title="@item.ItemName @(inventoryItem.ItemCount > 1 ? $" ({inventoryItem.ItemCount})" : string.Empty)@(inventoryItem.Enchant > 0 ? $"+{inventoryItem.Enchant}" : string.Empty)" src="@imageUrl" alt="Item @item.ItemName"/>
                   }
                 }
            }
        }
    </div>

</div>