﻿@using GameAcess.Model
@model Character

<div class="animated fadeIn card text-center">
    <div class="card-header">
        <h3 class="card-title">@Model.CharName</h3>
    </div>
    <div class="card-body">
        <img class="rounded-circle mb-4" alt="Character Avatar" src="~/Content/Image/icons/avatar/@(Model.Race)_@(Model.Sex).png"/>
        <div class="card-text text">Max CP: @Model.MaxCp</div>
        <div class="card-text">Max HP: @Model.MaxHp</div>
        <div class="card-text">Max MP: @Model.MaxMp</div>
        <div class="card-text">PvP Kills: @Model.PvPKill</div>
        <div class="card-text">PK Kills: @Model.PkKill</div>
    </div>
</div>