﻿@using GameAcess.Model
@model IList<Character>

<table class="table table-sm">
    <thead>
    <tr>
        <th>Player Name</th>
        <th>Level</th>
        <th>PvP</th>
        <th>PK</th>
        <th>Online Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Character character in Model)
    {
        character.OnlineTime = character.OnlineTime / 1000;
        TimeSpan time = TimeSpan.FromSeconds(character.OnlineTime);
        string[] parsedTime = time.ToString(@"d\:h\:m\:s").Split(':');

        <tr>
            <td>@character.CharName</td>
            <td>@character.Level</td>
            <td>@character.PvPKill</td>
            <td>@character.PkKill</td>
            <td>@parsedTime[0] days @parsedTime[1] mins @parsedTime[2] secs</td>
            <td>
                @if (character.Online == 0)
                {<span class="btn btn-danger btn-sm">Offline</span>}
                else
                {<span class="btn btn-success btn-sm">Online</span>}
            </td>
        </tr>
    }
    </tbody>
</table>
