﻿@using GameAcess.Model
@model IList<Character>

@{
    ViewBag.Title = "Index";
}

<h3>Info</h3>

<div class="col-md-9 mt-5 animated fadeIn">
    <select id="charsSelect" class="form-control mb-5" name="account">
        <option selected="selected" disabled="disabled">Please select your character</option>
        @if (Model != null)
        {
            foreach (Character character in Model)
            {
                <option value="@character.CharId">@character.CharName</option>
            }
        }
    </select>
</div>
<div class="row">
    <div class="col-lg-3">
        <div id="charinfo"></div>
    </div>
    <div class="col-lg-3">
        <div id="inventory"></div>
    </div>
</div>



<script>
    $('#charsSelect').change(function() {
        var charId = $("#charsSelect option:selected").val();
        $.get('@Url.Action("GetPlayerInventory")?charId=' + charId,
            function(data) {
                $('#inventory').html(data);
            });
        $.get('@Url.Action("GetPlayerInfo")?charId=' + charId,
            function(data) {
                $('#charinfo').html(data);
            });
    });
</script>