﻿@using GameAcess.Model

@{
    ViewBag.Title = "RepairCharMenu";
}

<h3>Repair Character</h3>

<div class="col-md-9 mt-5 animated fadeIn">
    <select id="charSel" class="form-control mb-5" name="account">
        <option selected="selected" disabled="disabled">Please select your character</option>
        @if (Model != null)
        {
            foreach (Character character in Model)
            {
                <option value="@character.CharId">@character.CharName</option>
            }
        }
    </select>
</div>

<div class="w-50">
    @if (ViewBag.AlertMessageSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.AlertMessageSuccess
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.AlerMessageDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.AlerMessageDanger
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div class="w-25">
    <div id="charRepair"></div>
</div>
<script>
    $('#charSel').change(function() {
        var charId = $("#charSel option:selected").val();
        $.get('@Url.Action("GetCharRepairForm")?charId=' + charId,
            function(data) {
                $('#charRepair').html(data);
            });
    });
    $(".alert").delay(3000).slideUp(200, function() {
        $(this).alert('close');
    });
</script>