﻿@model LoginAcess.Model.Account

@using (Ajax.BeginForm("SignIn", "Account", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new {@id="HeCaptcha", @class = "w-50 mx-auto karta p-3 animated fadeInLeftBig" }))
{
    @Html.AntiForgeryToken()
    if (TempData["error"] != null)
    {
        <div class="mb-3">
            <p class="text-danger">@TempData["error"]</p>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @placeholder = "Username", @required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
    </div>
    <input type="hidden" name="token" id="HeToken"/>
    <button class="btn btn-primary" type="submit">Login</button>
}

<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LdDr3YUAAAAAJYI_QiZKN6uWcMrjxjwOONUkPDx', { action: 'HeCaptcha'})
            .then(function(token) {
                $('#HeToken').val(token);
            });
    });
</script>