﻿@model LoginAcess.Model.Account
@{
    Layout = null;
}
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "w-50 mx-auto karta p-3 animated fadeInLeftBig" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessageFor(x => x.Login, null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @placeholder = "Username", @required = "required", aria_Describedby = "login" })
        <small class="form-text" id="login">Will be used to login ingame</small>
    </div>
    @Html.ValidationMessageFor(x => x.WebsiteUser.WebsiteName, null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.WebsiteUser.WebsiteName)
        @Html.TextBoxFor(x => x.WebsiteUser.WebsiteName, new { @class = "form-control", @placeholder = "Nickname", @required = "required", aria_Describedby = "nickname" })
        <small class="form-text" id="nickname">You will be shown on the web under this name</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
    </div>
    @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
    </div>
    <input type="hidden" name="token" id="HeToken"/>
    <button class="btn btn-primary" type="submit">Register</button>
}
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LdDr3YUAAAAAJYI_QiZKN6uWcMrjxjwOONUkPDx', { action: 'HeCaptcha'})
            .then(function(token) {
                $('#HeToken').val(token);
            });
    });
    </script>