﻿@model LoginAcess.Model.Account

@using (Ajax.BeginForm("CreateWebsiteName", "Account", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "w-50 mx-auto karta p-3" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Login)
    @Html.ValidationMessage("nickname", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.WebsiteUser.WebsiteName)
        @Html.TextBoxFor(x => x.WebsiteUser.WebsiteName, new {@class = "form-control", @placeholder = "Nickname", autofocus = "autofocus", required = "required", aria_Describedby="nickname"})
        <small class="form-text" id="nickname">You will be shown on the web under this name</small>
    </div>
    <button class="btn btn-primary" type="submit">Set Nickname</button>
}
