﻿@using WebAcess.Model
@model IList<Changelog>


@{
    ViewBag.Title = "Changelog";
}
<div>
    @foreach (var changelog in Model)
    {
        <div class="card karta mb-4 animated fadeInLeftBig">
            <div class="card-header">
                <h4>@changelog.Title</h4>
            </div>
            <div class="card-body">
                <p class="card-text">@Html.Raw(changelog.Content)</p>
                <p class="card-text"><small class="text-muted">@changelog.Date.ToShortDateString()</small></p>
            </div>
        </div>
    }
    @if (ViewBag.Pages != null && ViewBag.Pages != 1)
    {
        <ul class="pagination">
            @for (var i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">@Ajax.ActionLink(i.ToString(), "Changelog", new { page = i }, new AjaxOptions() { OnBegin = "fadeOut()", OnSuccess = "delay(data);" }, new { @class = "page-link" })</li>
            }
        </ul>
    }
</div>