﻿@using WebAcess.Model
@model IList<Guide>
@{
    ViewBag.Title = "Guide";
}
<div>
    @if (ViewBag.Pages != null && ViewBag.Pages != 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">@Ajax.ActionLink(i.ToString(), "Guide", new { page = i }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "page-link changeUrl" })</li>
            }
        </ul>
    }
    
    <table class="table table-striped animated fadeInLeftBig">
        @foreach (var guide in Model)
        {
            <tr>
                <td>@guide.Title</td>
                <td>@guide.Description</td>
                <td>@Ajax.ActionLink("Read more", "GuideDetail", new { id = guide.Id, page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new {@class = "changeUrl" })</td>
                <td>@guide.Creator</td>
            </tr>
        }
    </table>
</div>