﻿@using WebAcess.Model
@model Guide

@{
    ViewBag.Title = "GuideDetail";
}
<div class="animated fadeInLeftBig">
    @Ajax.ActionLink("Back", "Guide", new { page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-outline-secondary btn-lg changeUrl" })
    <div class="card card-body mt-4">
        <h2 class="card-title">@Model.Title</h2>
        <div class="card-text">@Html.Raw(Model.Content)</div>
        <p class="card-text"><small class="text-muted">Created by: @Model.Creator</small></p>
    </div>
</div>