﻿@using HesidosWebsite.Models
@model FBPosts

@{
    ViewBag.Title = "Home";
}

<div>    
    @foreach (Messages post in Model.data)
    {
        <div class="card karta mb-4 animated fadeInLeftBig">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">@post.created_time.ToShortDateString() at @post.created_time.ToShortTimeString()</h5>
                <p class="card-text" style="white-space: pre-line">@post.message</p>
            </div>
        </div>
    }
    @if (ViewBag.Pages != null && ViewBag.Pages != 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">@Ajax.ActionLink(i.ToString(), "Index", new {page = i}, new AjaxOptions() { OnBegin = "fadeOut()", OnSuccess = "delay(data);" }, new {@class = "page-link"})</li>
            }
        </ul>
    }
</div>