﻿@{
    ViewBag.Title = "Information";
}

<div>
    <div class="card karta animated fadeInLeftBig">
        <h4 class="card-header">
            Information
        </h4>
        <div class="card-body">
            <p class="card-text">
                <h5 class="card-title">Official start time its 15.12.2017 at 19:00 CET</h5><br />
            </p><p class="card-text">
                <table>
                    <thead>
                        <tr>
                            <td>Server Rates:</td>
                            <td>Normal:</td>
                            <td>Premium:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XP/SP</td>
                            <td>0,5</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Party Bonus</td>
                            <td>1,5</td>
                            <td>1,5</td>
                        </tr>
                        <tr>
                            <td>Quest XP/SP</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Drop/Spoil Chance</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Drop/Spoil Amount</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Manor</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Adena</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Seal Stone</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Raid Boss</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <h6 class="card-subtitle mb-2 mt-4">What you can look forward to:</h6>
            <p class="card-text">
                Main and Subclass max 85 lvl<br />
                Unlimited buff slots<br />
                Unlimited skills on your characters<br />
                Auction House - Sell or Buy items for adena or custom currency<br />
                Bounty Hunter NPC - Set bounty on someone head<br />
                Antibot system - Check other players against botting with report button<br />
                Antibuff shield - Protection against over-buff from other players<br />
                All class can equip all Dye+12 and -12<br />
                GM-Shop with basic items<br />
                Daily Reward<br />
                NPC for remove unused skills<br />
                Custom Community Board<br />
                Custom Certification Skills<br />
                Access to catacombs and necropolis at any time<br />
                Custom Armors/Weapons<br />
                Max level 120<br />
                Custom Farm areas
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Custom Skills:</h6>
            <p class="card-text">
                You can learn all skill from other class<br />
                Dance/Totems/Magical-Psychical Mirror/Frenzy its usable with all weapon <br />
                Frenzy/Zealot/Angelic icon without restrictions on low HP<br />
                Crystallization and Crafting available for all class<br />
                Counter Critical have Magic Critical damage<br />
                Frenzy +25% Matk<br />
                Ogre +30% Matk
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Enchant Rates:</h6>
            <p class="card-text">
                Safe +3<br />
                Full Safe +4<br />
                Max Dynamic - Depending on item grade<br />
                Normal Scroll 66%<br />
                Blessed Scroll 70%<br />
                Divine Scroll 100%
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Skill learn example:</h6>
            <p class="card-text">
                If you are Gladiator thats mean you are fighter so if you want learn skill from other fighter class you will need 2x more, but if you want learn skill from mage class you will need 3x more.
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Custom Items:</h6>
            <p class="card-text">
                Olf-T Shirt with custom bonus<br/>
                Custom Belts<br/>
                Custom Tattoos - Just hold them in the inventory<br/>
                Custom Bracelets<br/>
                Custom Agathions<br/>
                Custom GrandBoss Jewels
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Quest's:</h6>
            <p class="card-text">
                1st, 2nd and 3rd without quest's<br/>
                Certification skills without quest<br/>
                Sublass without quest<br/>
                Nobless with quest's or buy in GM-Shop
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Instance:</h6>
            <p class="card-text">
                Zaken: 2-9 ppl<br/>
                Frintezza: 2-9 ppl<br/>
                Freya: 2-9 ppl<br/>
                Freya Hard: 2-9 ppl<br/>
                Tiat: 2-9 ppl<br/>
                Beleth: 2-9 ppl
            </p>
            <h6 class="card-subtitle mb-2 mt-4">RaidBoss and GrandBoss</h6>
            <p class="card-text">
                All RaidBoss have custom Stats depending on LvL, max 5x than retail<br/>
                All GrandBoss have 5x Stats<br/>
                <br/>

                Valakas 36h + 12h<br/>
                Antharas 36h + 12h<br/>
                Baium 36h + 12h<br/>
                Orfen 24h + 2h<br/>
                Core 24h + 2h<br/>
                Queen Ant   	24h + 2h
            </p>
            <h6 class="card-subtitle mb-2 mt-4">Mobs:</h6>
            <p class="card-text">
                Custom dynamic stats depending on LvL.<br/>
                Mobs +80 have bigger boost to stats than lower<br/>
                All mobs drop Farm Coin, Agathion Soul, Rune
            </p>
        </div>
    </div>
</div>
