﻿@{
    ViewBag.Title = "Rules";
}

<div>
    <div class="card karta animated fadeInLeftBig">
        <h4 class="card-header">
            Rules
        </h4>
        <div class="card-body">
            <p class="card-text">
                <h5 class="card-title">General</h5><br />
            </p><p class="card-text">
                By playing on our server the player agrees with all of the here mentioned rules. The player also agrees he will comply with them.<br />
                Even an attempted breach of the rules is considered like a breach of the rules!<br />
                An interpretation of the rules is only in the authority of Admin and GMs.<br />
                GMs and Administrators differ from regular players with a green colored name<br />
                GM does not replace the loss of things, level or anything else due to an error of player or an error (crash) of the client or player or Internet connection. If an error occurs in a quest although other players succeed without problem, GM will not interfere. You can start the quest again.<br />
                The player has a right to use only those features of game that are a standard part of the original game client and can be legitimately accessed, including further expressly permitted exceptions.<br />
                Changing the Clan Leader is available ingame via the clan functions. A change of a banned CL (in the game) is possible only with his/her consent and after the agreement with an Admin.<br />
                If you decide to give your character a vulgar nickname, you do so at you own risk of being banned. Reporting them is not necessary we will deal with them when and if we see fit.<br />
                During trading, each player is obligated to check the product itself, the quantity and the price of this product and if everything corresponds to what he really wants to buy. The GM team is not responsible and will not deal or interfere with any type of scam.<br />
                All data stored on the server are the property of the server owner. If a player loses anything, he/she has no claim for a refund or any other compensation.<br />
                The service is free and the owner takes no responsibility for any damage caused by its using or its eventual unavailability or malfunction.<br />
                The owner makes no warranties regarding the service operation. The service may be partially suspended or even withdrawn at any time without prior notice.<br />
                Ignorance of the rules does not excuse.
            </p>
                <p class="card-text">
                    <h5 class="card-title">Laws (What is forbidden)</h5><br />
                </p>
            <p class="card-text">
                A player should not disclose his/her login information to other players. If your account will be robbed, noone will return your lost items.<br />
                It is forbidden to modify the files in the System folder.<br />
                A player must not use any possible bugs or exploits.<br />
                It is forbidden to reduce the natural authority of GM, their ridiculing and other forms of expression against GM in the game, on forum or against them directly.<br />
                It is forbidden to imitate or pretend to be a GM or pretend to act in their name or on their authority. Their names are green.<br />
                It is forbidden to thwart the work of GM, including the disguising of important facts or submission of false information.<br />
                It is forbidden to give false information about public statements and to disparage the good name of the server L2Hesidos.<br />
                It is forbidden to sell, buy or change game items, characters, or game accounts for real money.<br />
                It is forbidden to sell, buy or change game items, characters, or game accounts for in-game items, characters, or Game Accounts on other servers.<br />
                It is forbidden to popularize other servers in any form.
            </p>
            <p class="card-text">
                <h5 class="card-title">Glossary of Terms</h5><br />
            </p>
            <p class="card-text">
                The Client means an original Lineage2 game client from NCsoft Corporation.<br />
                The System (in connection with the client) means the system folder which is located in the directory of the game.<br />
                Server means a gaming server, a webserver or any other computers which are the property of L2Hesidos.<br />
                A Bug is a defect in the game.<br />
                Spamming means the excessive posting of big amount of various messages into chat.<br />
                Prison means "GM Consulting Service" or some other place preventing the free movement of the player and his interactions with other players.
            </p>
            <p class="card-text">
                <h5 class="card-title">Donation</h5><br />
            </p>
            <p class="card-text">
                You agree, that you are not purchasing any services or goods. Your donation is merely a token of support to keep our server alive.<br />
                You agree that all donations are voluntary and made of your own accord.<br />
                You agree, that upon donating to our server, all transactions are final and are not able to be refunded.<br />
                If your game account gets terminated for any reason, you are not entitled to any reimbursement or refund.<br />
                All members are equals and must apply to the server rules, otherwise it will lead on punishment.<br />
                If you do not agree to these terms or cannot honor them do not make a donation.
            </p>
            <p class="card-text"><small class="text-muted">The purpose of this Rules and also the basic reason of their existence is to protect the honest and fair-playing players from the unfair or dishonest players who do not understand the meaning of fair-play. Therefore we ask all of you to help us fight against this type of gamers. Please, do not consider these rules as a tool for control but as a tool intended to protect honest gamers against players with bad intentions. All of us want a high quality server</small></p>
        </div>
    </div>
</div>