﻿@using HesidosWebsite.Class
@{
    Layout = null;
}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.ActionLink("← Back to Site", "Index", "Home", new { area = "" }, new { @class = "nav-link active" })
            </li>
        </ul>
        @if (User.IsInRole(ServerRoles.Player))
        {
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Player Tools</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    @Ajax.ActionLink("Characters", "Index", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Donation", "DonationMenu", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Repair", "RepairCharMenu", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Statistics</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    @Ajax.ActionLink("Top PvP", "GetTopPvP", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Top PK", "GetTopPk", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Top Online Time", "GetTopOnlineTime", "Home", null, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link" })
                </li>
            </ul>
        }
    </div>
</nav>