﻿@using WebAcess.Model
@model IList<Changelog>

@{
    ViewBag.Title = "Changelogs";
}
<div class="animated fadeIn">
    @Ajax.ActionLink("Create Changelog", "ChangelogCreate", new { page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success mb-2" })

    @if (ViewBag.Pages != null && ViewBag.Pages != 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">@Ajax.ActionLink(i.ToString(), "Changelogs", new { page = i }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "page-link" })</li>
            }
        </ul>
    }

    <div class="table-responsive">
        <table class="table table-striped">
            @foreach (var changelog in Model)
            {
                <tr>
                    <td>@changelog.Title</td>
                    <td>@changelog.Date</td>
                    <td>@Ajax.ActionLink("Edit", "ChangelogEdit", new { id = changelog.Id, page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        </table>
    </div>
</div>
