﻿@using WebAcess.Model
@model Changelog

@{
    ViewBag.Title = "Changelog Edit";
}

<div class="animated fadeIn">
    @Html.ActionLink("Delete Changelog", "ChangelogDelete", new { id = Model.Id }, new { @class = "btn btn-danger mb-2", @onclick = "return confirm('You really want delete this changelog?');" })

    @using (Html.BeginForm("ChangelogSave", "Home", new { page = ViewBag.CurrentPage }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Date)

        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title", @required = "required" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(x => x.Content, new { @id = "summernote", @class = "form-control", @required = "required" })
        </div>
        @Ajax.ActionLink("Back", "Changelogs", new { page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-secondary btn-lg" })
        <button class="btn btn-lg btn-primary" type="submit">Save</button>
    }
</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300
        });

    });


</script>