﻿@using WebAcess.Model
@model IList<Guide>

@{
    ViewBag.Title = "Guides";
}


@Ajax.ActionLink("Create Guide", "GuideCreate", new { page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success mb-2" })
<div class="animated fadeIn">
    @if (ViewBag.Pages != null && ViewBag.Pages != 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">@Ajax.ActionLink(i.ToString(), "Guides", new { page = i }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "page-link" })</li>
            }
        </ul>
    }

    <div class="table-responsive">
        <table class="table table-striped">
            @foreach (var guide in Model)
            {
                <tr>
                    <td>@guide.Title</td>
                    <td>@guide.Description</td>
                    <td>@guide.Creator</td>
                    <td>@Ajax.ActionLink("Edit", "GuideEdit", new { id = guide.Id, page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        </table>
    </div>
</div>
