﻿@using WebAcess.Model
@model Guide

@{
    ViewBag.Title = "Guide Create";
}

@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
<div class="animated fadeIn">
    @using (Html.BeginForm("GuideAdd", "Home", new { page = ViewBag.CurrentPage }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title", @required = "required" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Description", @required = "required" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Creator)
            @Html.TextBoxFor(x => x.Creator, new { @class = "form-control", @placeholder = "Creator", @required = "required" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Content)
            @Html.TextAreaFor(x => x.Content, new { @id = "summernote", @class = "form-control", @required = "required" })
        </div>
        @Ajax.ActionLink("Back", "Guides", new { page = ViewBag.CurrentPage }, new AjaxOptions() { UpdateTargetId = "DynamicContent", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-secondary btn-lg" })
        <button class="btn btn-lg btn-primary" type="submit">Save</button>
    }
</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300
        });

    });


</script>