﻿@using WebAcess.Model
@model IList<Message>
@{
    Layout = null;
}

    @foreach (Message message in Model)
    {
        <div class="card mb-2">
            <div class="card-body  p-1">
                <div class="card-text">@message.Username : @message.Content</div>
                <div class="card-text">@message.Date.ToShortDateString() - @message.Date.ToShortTimeString()</div>
            </div>
        </div>
    }
