﻿@using WebAcess.Model
@model Message

@{
    ViewBag.Title = "Chat";
}

@using (Html.BeginForm("Post", "Chat", FormMethod.Post))
{    @Html.AntiForgeryToken()
    <div class="form-group">
         <button type="submit" class="btn btn-primary">Send</button>
     </div>
    <div class="form-group">
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
    </div>
}

@{ Html.RenderAction("Chat");}