﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/dashboard.css")
    @Styles.Render("~/Content/animated.css")
    @Styles.Render("~/Content/summernote-bs4.css")
    @Styles.Render("~/Content/inventory.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/umd/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/MicrosoftAjax.js")
    @Scripts.Render("~/Scripts/MicrosoftMvcAjax.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/summernote-bs4.min.js")
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="navbar-brand col-sm-3 col-md-2 mr-0">Logged as: @User.Identity.Name</div>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Sign out", "Logout", "Account", new { Area = "" }, new { @class = "nav-link" })
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            @{ Html.RenderAction("Index", "Menu");}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="mt-2" id="DynamicContent">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
</body>
</html>