﻿/* Download Buttons */

.downloadButton {
    width: 200px;
}

    .downloadButton a {
        display: block;
        height: 50px;
        width: 200px;
        /*TYPE*/
        color: white;
        font: 17px/50px Helvetica, Verdana, sans-serif;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        /*GRADIENT*/
        border: 2px #009ec3 solid;
        background-color: rgb(21, 39, 111);
    }

    .downloadButton a, .downloadButton p {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    }

    .downloadButton p {
        border: 2px #009ec3 solid;
        background-color: rgb(21, 39, 111);
        display: block;
        height: 40px;
        width: 180px;
        margin: -50px 0 0 10px;
        /*TYPE*/
        text-align: center;
        font: 12px/45px Helvetica, Verdana, sans-serif;
        color: #fff;
        /*POSITION*/
        position: absolute;
        z-index: -1;
        /*TRANSITION*/
        -webkit-transition: margin 0.5s ease;
        -moz-transition: margin 0.5s ease;
        -o-transition: margin 0.5s ease;
        -ms-transition: margin 0.5s ease;
        transition: margin 0.5s ease;
    }

    /* HOVER
   ================================================== */

    .downloadButton:hover .downloadBotton {
        margin: -10px 0 0 10px
    }

    .downloadButton:hover .downloadTop {
        margin: -80px 0 0 10px;
        line-height: 35px;
    }

/* ACTIVE
   ================================================== */

.button a:active {
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.button:active .bottom {
    margin: -20px 0 0 10px
}

.button:active .top {
    margin: -70px 0 0 10px
}

.vote {
    display: block;
    width: 200px;
    height: 90px;
    line-height: 80px;
    color: lightgray;
    text-decoration: none;
    border: 2px #009ec3 solid;
    border-radius: 1.25rem;
    font-weight: 200;
    font-size: 1.5rem;
    transition: 0.5s;
    background-color: rgb(21, 39, 111);
}
    .vote:hover {
        transition: 0.5s;
        color: white;
        text-decoration: none;
    }
    .page-link {
        color: white;
        background-color: #000000;
        border: 1px solid #1371d0;
    }