﻿/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    font-family: 'Cinzel', serif;
}

#DynamicContent {
    font-family: 'Raleway', sans-serif;
}

.sidebarBlock {
    border-bottom: 2px dashed white;
}

.karta {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(21, 39, 111,1), inset 0px 0px 15px 3px rgba(21, 39, 111,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(21, 39, 111,1), inset 0px 0px 15px 3px rgba(21, 39, 111,1);
    box-shadow: 0px 0px 5px 3px rgba(21, 39, 111,1), inset 0px 0px 15px 3px rgba(21, 39, 111,1);
    border: 0;
    border-radius: 1.25rem;
}

.sidebarBlockTitle {
    color: white;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

    .sidebarBlockTitle:after {
        content: '';
        background: url("Image/sideBarTitle.png") no-repeat center;
        height: 79px;
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
    }

.carousel {
    background-image: url("Image/background-main.jpg");

}


.maxWidth {
    max-width: 1576px;
    min-height: 500px;
}

main {
    background-image: url("Image/background-main.jpg");
}

.card-footer {
    background-image: none;
    background-color: black;
    color: white;
}

#logo {
    top: 0.5rem;
    z-index: 2000;
    left: 5rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    text-align: center;
    height: 23rem;
}

    .carousel-item > img {
        height: 23rem;
        position: center;
    }


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.navbar {
    padding: 0 1rem;
    white-space: nowrap;
    -webkit-box-shadow: 0px 10px 20px 3px black;
    -moz-box-shadow: 0px 10px 20px 3px black;
    box-shadow: 0px 10px 20px 3px black;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(66,66,66,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 49%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 49%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 49%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 49%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.nav-link {
    height: 56px;
    font-size: 1.2rem;
    font-weight: 550;
    line-height: 43px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

#firstSlideText {
    left: 50%;
}

#secondSlideText {
    left: 35%;
}


#thirdSlideText {
    left: 50%;
}

.carousel-caption {
    width: 300px;
    text-shadow: 0.05em 0 5px black, 0 0.05em 5px black, -0.05em 0 5px black, 0 -0.05em 5px black, -0.05em -0.05em 5px black, -0.05em 0.05em 5px black, 0.05em -0.05em 5px black, 0.05em 0.05em 5px black;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    #logo {
        display: none;
    }

    #myCarousel {
        display: none;
    }
}


@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        line-height: 1.4;
    }

    .carousel-caption h5 {
        font-size: 2rem;
    }

    .featurette-heading {
        font-size: 2rem;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
