﻿.invcontainer {
    background-image: url('/Content/Image/inventory.png');
    height: 341px;
    width: 260px;
    position: relative;
}

.equippedinv {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 240px;
    height: 279px;
    top: 49px;
    left: 11px;
    overflow: hidden;
    overflow-y: scroll;
}

    .equippedinv::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #21201b;
    }

    .equippedinv::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .equippedinv::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #555555;
    }

.invimage {
    left: -1px;
    position: relative;
    top: 0px;
    padding-left: 1.4px;
    padding-top: 3px;
}
